
.usernameTable{
    color: white;
    font-family: "Roboto";
    align-content: center;
    background-color: #121212;
    width: 450px;
    border-radius: 500px;
    height: 450px;
    transition: 0.5s;
    text-align: center;
}
.usernameTable:hover{
    box-shadow: 0px 10px 20px 0 #08f3ff;
}
.usernameTableError{
    font-family: "Roboto";
    align-content: center;
    background-color: #121212;
    width: 450px;
    border-radius: 500px;
    height: 450px;
    color: white;
    transition: 0.5s;
    text-align: center;
}
.usernameTableError:hover{
    box-shadow: 0px 10px 20px 0 #ff0808;
}
.goButton {
    color:white;
}
.goButton:hover{
    color:  #92faff;
    transition: 0.3s;
}
.goButton:active {
    box-shadow: 0 0  #005a5f; 
    color: #04adb6;
}
.goButtonError {
    color:white;
}
.goButtonError:hover{
    color:  #ff5e5e;
    transition: 0.3s;
}
.goButtonError:active {
    box-shadow: 0 0  #5f0000; 
    color: #b60404;
}

.logo {
    margin-top: -4%;
    height: 10%;
    width: 80%;
    margin-bottom: 4%;
}