* {
    overflow:hidden; /* or auto */
    }

.createPage {
    background-color: #1b1c1e;
    font-size: calc(10px + 2vmin);
    color: white;
    height: 100vh;
    flex-direction: column;
    background-image: url('../../../images/ReCodeBG3.jpg') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.wrapBox {
    margin-left: 5%;
    margin-right: 5%;
    
}
.semiHeading{
    color: rgba(255, 255, 255, 0.877);
    margin-top: 0px;
    margin-bottom: 1%;
    font-size: 30px;
    text-shadow: 2px 2px #007286;
}
.logoCreate{
    width: 150px;
    margin-bottom: 10px;
}
.bigBoxCreate {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}
.logoBox {
    margin-top: 6%;
    border-bottom: 2px solid #2d2e32;
    margin-bottom: 2%;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    text-shadow: 2px 2px 2px  #000000;
}
.wrapBoxBG {
    margin-top: 15vh;
    margin-left: 15%;
    background-color: #25262a;
    height: 55vh;
    transition: 0.3s;
}
.wrapBoxBG:hover {
    box-shadow: 6px 6px #ff0000be, -6px -6px #08f3ffbe !important;
}
.smallBoxRight {
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
    margin-right: -5%;

}
.headingTitle {
    margin:0;
    text-shadow: 3px 3px #ff0000;
}
.botTextL {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #787985;
}
.colButtonDS {
    width: 60%;
    font-weight: bold !important;
    border-radius: 0px !important;
    transition: 0.3s;
}
.colButtonDS:hover {
    background-color: white !important;
    box-shadow: 6px 6px #ff0000, -6px -6px #08f3ff !important;
}
.dialogBox {
    border-radius: 0px !important;
    box-shadow: 6px 6px #ff0000, -6px -6px #08f3ff !important;
}